body {background-color: #cccccc;
        opacity: 0.3;
        background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #cccccc 13px ), repeating-linear-gradient( #a7a7b155, #a7a7b1 );
}
    .cim {color: #000000;
        float: none;
        margin-top: 50px;}

        .iro {color: #3a1855;
            font-size: smaller;
            font-style: oblique;
            margin-bottom: 20px;}

         .alcim {color: #611d8f;
            font-size: larger;
             float: none;
             margin-top: 15px;
              margin-bottom: 20px;}

            .szoveg1 {color: #000000;
                  float: none;
                  margin-left: 20px;
                  margin-right: 20px;}
        
            .szoveg2 {color: rgb(95, 22, 90);
                    float:none;
                    font-size: medium;}
