body {background-color: #e0e0e8;
                opacity: 0.9;
                background: repeating-linear-gradient( 45deg, #c8c8d2, #c8c8d2 3px, #e0e0e8 3px, #e0e0e8 15px );
}
    .cim {color: #000000;
        float: none;
        opacity: 1;
        margin-top: 50px;}

        .iro {color: #3a1855;
            opacity: 1;
            font-size: smaller;
            font-style: oblique;
            margin-bottom: 20px;}

         .alcim {color: #611d8f;
            font-size: larger;
             opacity: 1;
             float: none;
             margin-top: 15px;
             margin-bottom: 20px;}

            .szoveg1 {color: #000000;
                  float: none;
                  opacity: 1;
                  margin-left: 20px;
                  margin-right: 20px;}
        
            .szoveg2 {color: rgb(95, 22, 90);
                    float:none;
                    opacity: 1;
                    font-size: larger;}
