body {background-color: #898990;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #b0b1bb, #707078), repeating-radial-gradient(circle at center center, #b0b1bb, #b0b1bb, 11px, transparent 22px, transparent 11px);
    background-blend-mode: multiply;
}
    .cim {color: #000000;
        float: none;
        margin-top: 50px;}

        .iro {color: #3a1855;
            font-size: smaller;
            font-style: oblique;
            margin-bottom: 20px;}

         .alcim {color: #611d8f;
            font-size: larger;
             float: none;
             margin-top: 15px;
              margin-bottom: 20px;}

            .szoveg1 {color: #000000;
                  float: none;
                  margin-left: 20px;
                  margin-right: 20px;}
        
            .szoveg2 {color: rgb(95, 22, 90);
                    float:none;
                    font-size: medium;}